<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Bus Arrival</h1>
    </div>
  </div>

  <div class="row text-center mt-4">
    <div class="col">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Route</label>
            <select 
            class="form-control" 
            id="exampleFormControlSelect1" 
            [(ngModel)]="routeSelected"
            (ngModelChange)="onRouteSelected($event)">
              <option *ngFor="let route of routes" [value]="route.Route">
                {{route.Description}}
              </option>

            </select>
        </div>
    </div>
    <div class="col" *ngIf="this.directions">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Direction</label>
            <select 
            class="form-control" 
            id="exampleFormControlSelect2"
            [(ngModel)]="directionSelected"
            (ngModelChange)="onDirectionSelected($event)"
            >
              <option *ngFor="let direction of directions" [value]="direction.Value">
                {{direction.Text}}
              </option>
            </select>
        </div>
    </div>
    <div class="col" *ngIf="this.stops">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Stops</label>
            <select 
            class="form-control" 
            id="exampleFormControlSelect3"
            [(ngModel)]="stopSelected"
            (ngModelChange)="onStopSelected($event)"
            >
              <option *ngFor="let stop of stops" [value]="stop.Value">
                {{stop.Text}}
              </option>
            </select>
        </div>
    </div>
  </div>

    <div class="row text-center mt-2">
      <div class="col">
        <button class="btn btn-primary btn-lg" (click)="getArrival()"> Get Bus Arrival Time </button>
      </div>
    </div>
</div>
